{{>header}}
<p>{{user.username}}</p>
<p>{{user.email}}</p>
<button>Update profile</button>
<div id="update-profile">
    <h3>Update</h3>
    <form action="/users/update" method="POST">
        <input class="form-control" type="text" name="username" value="{{user.username}}">
        <input class="form-control" type="email" name="email" value="{{user.email}}">
        <input class="form-control" type="password" name="password" placeholder="New Password">
        <input class="form-control" type="password" name="password2" placeholder="New Password">
        <button type="submit">Update</button>
        <button class="cancle-button" type="button">Cancle</button>
    </form>
</div>
<div id="profile-pic">
  <img src="{{user.avatar}}" alt="User profile picture {{user.avatar}}"  height="100px">
  <form action="/users/fileupload" method="post" enctype="multipart/form-data">');
    <input type="file" name="filetoupload" />
    <button type="submit">Submit</button>
  </form>
</div>
{{>footer}}